nav .topnav .login-container {
    float: none !important;
    width: 100%;
    height: auto;
    position: fixed !important;
    left: 0;
}

header {
    padding-top: 80px !important;
}
nav,
article {
    margin-top: 340px !important;
}
